@font-face {
    font-family: 'Pixel';
    src: url('fontes/OTF/dogicapixel.otf') format('opentype'), url('fontes/TTF/dogicapixel.ttf') format('truetype');


}

body {
    background-color: rgb(255, 255, 255);
}

#body {
    height: 100vh;
    background-color: grey;
    background-image: url('imagens/logo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
}

main {
    padding: 0px;
    margin: auto;
    border-radius: 15px;
}

#status {
    background-color: black;
}

#ng {
    text-align: center ;
    color: white;
    border: 5px black;
    font-family: 'Pixel';
    font-size: 30px;
}

a {
    
    color:rgb(212, 118, 11);
    text-decoration: none;
}

#ng:hover {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

/*Pagina de status*/
#status {
    background-color: rgb(0, 0, 0);
}

#status>div {
    background-image: linear-gradient(to right, darkorange, black);
    border: 3px solid gray;
    border-radius: 15px;
    display: inline-block;
}

#box1 {
    color: white;
    font-family: 'Pixel';
    border: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
}

#box1>img {
    margin: 30px 0px;
    width: 150px;
    border-radius: 15px;
}

#box2 {
    color: white;
    margin: 10px 10px 10px 10px;
    font-family: 'pixel';
    border: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
}

#box2>#vida {
    border: 3px solid green;

}

#box2>#mana {
    border: 3px solid blue;

}

#box2>h4 {
    margin: 10px;
}

#box3 {
    color: white;
    font-family: 'pixel';
    border: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
}

#lateral {

    padding: 30px 0px;
    display: inline-table;
    border: 2px solid grey;
    color: white;
    font-family: 'pixel';
}